body {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: url('cryptography.gif') center center/cover no-repeat;
  }
  
  #container {
    width: 60%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: black; /* Text color */
  }
  
  h1 {
    color: #333;
    text-align: center;
  }
  
  label {
    display: block;
    margin-top: 10px;
  }
  
  textarea, select, input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    color: green; /* Input text color */
    background-color: black; /* Input field color */
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  p {
    margin-top: 20px;
    text-align: center;
  }
  
  #encryptedMessage, #decryptedMessage {
    display: none;
  }
  